<style>
.sidebar{
    left:0;
    bottom:0;
    top:55px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    width:72px;
    z-index:200;
    border-right:1px;
    padding-top:5px;
  }
  .link{
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  .link:hover{
    background-color: rgb(238, 235, 235);
  }
  .link img{
    height:24px;
    margin-bottom:4px;
  }
  .link div{
    font-family: Roboto,Arial;
    font-size:10px;
  }
</style>